apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  labels:
    app: {{ .Chart.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      containers:
        - name: wordpresss
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          env:
            - name: WORDPRESS_DB_HOST
              value: {{ .Values.db.host | quote }}
            - name: WORDPRESS_DB_USER
              value: {{ .Values.db.user | quote }}
            - name: WORDPRESS_DB_PASSWORD
              value: {{ .Values.db.password | quote }}
            - name: WORDPRESS_DB_NAME
              value: {{ .Values.db.name | quote }}
              # 1. AJOUTER LE MONTAGE DANS LE CONTENEUR
          volumeMounts:
            - name: wordpress-content
              mountPath: /var/www/html/wp-content

      # 2. DÉCLARER LE VOLUME (Tout en bas, aligné avec "containers")
      volumes:
        - name: wordpress-content
          persistentVolumeClaim:
            claimName: pvc-{{ .Chart.Name }}-content